
body {
    padding: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h1 {
    font: 600;
    padding: 200;
    text-align: center;
}
footer{
    background-color:black;
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 10px;
    
}